/* src/features/movies/MovieCard.css */
.movie-card {
    width: 250px; /* Фіксована ширина блоку фільму */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.movie-card img {
    width: 100%; /* Зображення займає всю доступну ширину блоку */
    height: auto; /* Автоматична висота, щоб зберегти пропорції */
    border-radius: 5px; /* Округлені кути для зображення */
    margin-bottom: 10px; /* Відступ знизу між постером і заголовком */
}

.movie-card h3 {
    font-size: 1rem; /* Розмір шрифту для заголовка */
    margin-bottom: 5px; /* Відступ знизу між заголовком і описом */
}

.movie-card p {
    font-size: 0.9rem; /* Розмір шрифту для опису */
    line-height: 1.4; /* Міжрядковий інтервал тексту опису */
    overflow: hidden; /* Ховаємо виносний текст, який може вийти за рамки блоку */
    text-overflow: ellipsis; /* Замінюємо не влізлі рядки місцем '...' */
    max-height: 2.8em; /* Максимальна висота тексту опису, щоб забезпечити однакову висоту блоків фільмів */
}

.movie-card:hover {
    transform: scale(1.05); /* При наведенні фільму збільшуємо його розмір */
}
